.header-img {
    background-image: url('../img/header-back.jpg'); /* Replace 'your-image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: left center;
    height: 70vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.header-img::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; /* Adjust the height to control the wave effect */
    background-color: white; /* Set the background color of the "wave" */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%); /* Adjust the points to create the wave shape */
}